########################
# Skies .htaccess file #
########################

# @author Janek Ostendorf (ozzy) <ozzy2345de@gmail.com>
# @copyright Copyright (c) Janek Ostendorf
# @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License, version 3

# Avtivate mod_rewrite
Options +FollowSymlinks
RewriteEngine on

# Rewrite $_GET, too
RewriteCond %{REQUEST_FILENAME} !-f

# Page given
# Everything => $_GET['_0']
RewriteRule ^(.*)$ index.php?__0=$1&%{QUERY_STRING}


## Redirect
#Redirect 302 / https://der-lan.de/
