###########################
# Skies .htaccess file #
###########################

# @author Janek Ostendorf (ozzy) <ozzy2345de@gmail.com>
# @copyright Copyright (c) Janek Ostendorf
# @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License, version 3
# @package skies.system

# Blocking this directory
Order allow, deny
Deny from all